.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Home,
.Winners {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

.MessageBox {
  width: 500px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.Board {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px lightslategrey solid;
}

.default {
  border: 1px lightslategrey solid;
}

.active-cell {
  border: 1px rgb(0, 0, 150) solid;
  background-color: rgb(0, 0, 150);
}

.player {
  border: 1px rgb(14, 126, 61) solid;
  background-color: rgb(17, 165, 79);
}

.computer {
  border: 1px rgb(145, 1, 1) solid;
  background-color: rgb(190, 1, 1);
}

.winner-message {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
